#card {
    height:180px;
    width:200px;
    border-block-end-width:10px; 
    border-color: cadetblue;
    margin: 1rem;
      
}
#image {
    height:180px;
    width:200px;
}

/* This is a test comment */