#jumbo {
height:400px ;
 background-color: bisque; 
text-align: center;
background: url(https://img.posterlounge.co.uk/images/big/1617424.jpg);
background-blend-mode: lighten;
background-size: 298px;
}

h1 {
    margin: 50px;
   color: white;
    font-size: 65px;
     text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}


